@import "variables";
.users{
  .thumbnail{
    float: left;
    padding: 20px;
    border: none;
  }
  h3{
    margin-bottom: 30px;
  }
  .gravatar{
    padding: 0 10px 10px 0;
  }
  .btn-group{
    padding: 20px 0 40px 0;
    .btn{
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  .pagination{
    margin: auto;
    float: right;
  }
}
